@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap');

$clockSize: 350px;

$lightGray: #d9d9d9;
$blue: #9bd6ea;
$defaultFont: 'Signika Negative', sans-serif;
